footer {
    background-color: var(--Blue);
    height: 18rem;
    display: flex;
    
}

footer>.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.navFooter {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 1.5rem;
}