@import './styles/global.css';
@import './components/index.css';

.container {
    max-width: 70rem;
    margin: 0 auto;
    padding: 4rem 1rem 0;
    position: relative;
}

.textDecoration{
    color: var(--Blue);
}
